<div class="arrangeflex">
  <div class="verticalnav">
      <ul>
        <li><a routerLink="flightBooking">Flight Booking</a></li>
        <li><a routerLink="hotel">Hotel Booking</a></li>
        <li><a routerLink="table">Bus Booking</a></li>
        <li><a routerLink="car">Car Booking</a></li>
      </ul>
  </div>
  <div class="form-content">
      <router-outlet></router-outlet>
  </div>
  <div class="rightnav">
      <pre>
            <h2>Where?</h2>
        You can reach us anywhere.
            <h2>When?</h2>
        You can reach us anytime.
          <h2>Transport</h2>
        You can book here for carbooking
      </pre>
    </div>
  </div>
